@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Glysa";
  src: url("./assets/fonts/Glysa.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lexend-Deca";
  src: url("./assets/fonts/LexendDeca-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Lexend-Deca", sans-serif;
}

h1 {
  font-family: "Glysa", sans-serif;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0%;
}

h2 {
  font-family: "Glysa", sans-serif;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0%;
}

p,
span {
  font-family: "Lexend-Deca", sans-serif;
  font-weight: normal;
  letter-spacing: 1%;
}

body {
  font-size: 14px;
  line-height: 20px;
}

.bg-default {
  background-color: #282828;
}
.hover\:bg-default-hover:hover {
  background-color: #2d2d2d;
}
.active\:bg-default-pressed:active {
  background-color: #323232;
}

.bg-secondary {
  background-color: #000000;
}
.hover\:bg-secondary-hover:hover {
  background-color: #191919;
}
.active\:bg-secondary-pressed:active {
  background-color: #1e1e1e;
}

.bg-special {
  background: linear-gradient(0deg, #141414, #141414),
    linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%);
  border-radius: 1000px;
}
.hover\:bg-special-hover:hover {
  background: linear-gradient(0deg, #141414, #141414),
    linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
}
.active\:bg-special-pressed:active {
  background: linear-gradient(0deg, #141414, #141414),
    linear-gradient(180deg, rgba(40, 40, 40, 0.7) 0%, #282828 100%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0.04));
}
